[user]
	name = maedama
	email = maedama85@gmail.com
[alias]
    clean-branch      = !echo '[Dry-run]' && git branch --merged | grep -v master
    clean-branch-exec = !                    git branch --merged | grep -v 'master' | xargs git branch -d
    pc = !git push origin `git rev-parse --abbrev-ref HEAD`
    ci = !git commit --allow-empty -m "run ci" && git pc
    cs = !git commit -m '[ci skip]'
    fup = !git commit --fixup HEAD
    ignore = !"f() { local s=$1; shift; \
          while [ $# -gt 0 ]; do s=\"$s,$1\"; shift; done;\
          curl \"https://www.gitignore.io/api/$s\"; }; f"
[core]
	editor = vim
[push]
    default = current

[url "git@github.com:"]
        insteadOf = https://github.com/
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
